<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Alarm</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/leds.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/add_alarm.css') }}">
</head>
<body>
  <h1>Add Alarm</h1>

  <div id="datetime">{{ current_datetime }}</div>

  <input type="time" id="new_alarm_time" placeholder="21:37" style="display: none;">
  <input type="text" id="new_alarm_description" placeholder="Alarm Time" style="display: none;">
  <button id = "add_alarm_button" onclick="add_alarm_click()">Add Alarm</button>

  <table>
    <thead>
        <tr>
            <th>Alarm ID</th>
            <th>Alarm Time</th>
            <th>Alarm description</th>
            <th>Delete alarm</th>
        </tr>
    </thead>
    <tbody>
        {% for alarm in alarms %}
            <tr>
                <td>{{ alarm.id }}</td>
                <td>{{ alarm.time }}</td>
                <td>{{ alarm.description }}</td>
                <td><button id = "delete_id_{{alarm.id}}" onclick="delete_alarm({{alarm.id}})">Delete</button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('index') }}"><button>Back to Home</button></a>

  <p id="status-message"></p>
  <script src="{{ url_for('static', filename='js/alarm.js') }}"></script>
</body>
</html>
